body {
    padding: 5em;
    background-color: white;
}

h1 {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 2em;
}

.container {
    padding: 2em;
    height: 590px;
    width: 580px;
    border-radius: 5%;
    text-align: center;
    background-color: black;
}

.screen {
    background-color: rgb(138, 199, 138);
    height: 100px;
}

button {
    font-size: 1em;
}
